.containerHeader {
  position: fixed;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1.4rem;
  padding-right: 2rem;

  .optionsMenuContainer {
    display: flex;
    grid-gap: 25px;

    @media (max-width: 450px) {
      grid-gap: 15px;
    }

    .textMenu {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 600;
      height: 22px;
      font-style: normal;

      display: inline-block;
      transition: all 0.2s;

      a {
        cursor: none;
      }

      &:hover {
        border-bottom: 2px solid #8257e5;
      }
    }
  }
}

.containerSectionTitles {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  padding: 1rem;

  @media (max-width: 768px) {
    height: 100vh;
  }

  .containerTitle {
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: end;
    height: 96%;
    margin-top: auto;
    transition: all 0.5s;

    @media (max-width: 768px) {
      height: 100%;
      position: static;
    }

    .title,
    .subtitle {
      text-transform: uppercase;
      font-weight: 500;
      line-height: 10vw;
    }

    .title {
      font-size: 9vw;
    }

    .paragraph {
      color: #56565a;
      display: none;
      @media (max-width: 770px) {
        display: block;
      }
    }

    .subtitle {
      font-size: 8vw;
      color: #8257e5;
      letter-spacing: 0.7rem;

      @media (max-width: 850px) {
        font-size: 10vw;
        letter-spacing: 0;
      }
    }
  }
}

.containerSectionStacks {
  padding-top: 5rem;
  padding-bottom: 20rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  @media (max-width: 768px) {
    align-items: center;
  }

  .title {
    text-align: left;
    width: 250px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;

    padding-top: 15rem;

    &:nth-last-child(1) {
      padding-top: 0rem;
    }

    @media (max-width: 768px) {
      width: 100%;
      font-size: 2rem;
      text-align: center;
    }
  }

  .gridStacks {
    display: grid;
    grid-template-columns: repeat(1, 250px);

    @media (max-width: 768px) {
      place-items: center;
    }
  }
}

.containerSectionJobs {
  width: 100%;
  padding: 4rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .titleSectionJobs {
    font-family: "Work Sans", sans-serif;

    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    padding-bottom: 0.5rem;
  }

  .subtitleSectionJobs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;

    font-family: "Work Sans", sans-serif;

    font-size: 0.9rem;

    text-transform: uppercase;
    letter-spacing: 0.1rem;

    margin-left: -8px;

    padding-bottom: 2rem;

    &::before,
    &::after {
      content: "";
      max-width: 44px;
      width: 100%;
      background-color: #000;
      display: block;
      height: 2px;
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 1rem;
    justify-content: center;
  }
}

.containerSectionContacts {
  width: 100%;
  padding: 0 1rem;
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
  }

  .email {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #8257e5;
  }

  .gridContacts {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
  }

  .icon {
    border: 2px solid #8257e5;
    padding: 0.7rem;
    border-radius: 50%;

    &:hover {
      opacity: 0.8;
    }
  }
}
