@import "aos/dist/aos.css";
@import "../../public/assets/fonts/font-awesome/css/font-awesome.min.css";
@import '../../public/assets/scss/main.scss';

body, button, div, a {
    cursor: none !important;
}

pre {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    border-radius: 5px;
}