.BoxContainerMainStack {
    margin-top: 2rem;
    font-family: 'Work Sans', sans-serif;
    position: relative;

    width: 200px;
    height: 200px;

    @media (max-width: 768px) {
        width: 250px;
        height: 250px;
    }

    border: 2px solid #8257e5;
}

.BoxContainerNoMainStack {
    z-index: 3;

    margin-top: 2rem;
    font-family: 'Work Sans', sans-serif;
    position: relative;

    width: 200px;
    height: 200px;

    @media (max-width: 768px) {
        width: 250px;
        height: 250px;
    }

    box-shadow: 0 0 1em rgba(0, 0, 0, 0.090);
}

.BoxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #1a202c;
    height: 100%;

    p{ 
        text-align: center;
        font-size: 1.3rem;
        margin-top: 0.5rem;
        font-weight: 500;
    }
}

.MainStack {
    color: #8257e5;
    display: flex;
    grid-gap: 5px;
    align-items: center;
    font-weight: 600;
    position: absolute;
    text-transform: uppercase;
    top: -25px;
    left: -2px;
}

.iconStack {
    font-size: 120px;

    @media (max-width: 768px) {
        font-size: 160px;
    }
}