.containerBoxMainAnimatted {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  height: 61.22vh;
  position: relative;
}

.containerBoxMain {
  background-color: white;
  border: 1px solid whitesmoke;

  box-shadow: 0 0 1em rgba(0, 0, 0, 0.09);

  font-family: "Work Sans", sans-serif;

  width: 100%;
  height: 500px;

  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  .image {
    transition: all 0.4s;
  }

  .image:hover {
    scale: (1.1);
  }
}

.infos {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;

  gap: 20px;

  .title {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .description {
    font-size: 0.8rem;
  }

  .period {
    color: #8fa7a8;
    margin-top: -15px;
    font-size: 0.9rem;
  }

  .buttonRedirect {
    cursor: none;

    text-decoration: underline;
    font-weight: 600;

    width: max-content;

    a {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      cursor: none;
    }
  }
}
